<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Medico: NOMBRE MEDICO</h3>
            <p class="text-muted m-b-30 font-13"> Editar/Actualizar Medico </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate #form="ngForm" (ngSubmit)="guardarMedico(form)">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre Médico</label>
                            <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre Medico" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Hospital</label>
                            <select [(ngModel)]="medico.hospital" (change)="cambiarHospital(medico.hospital)" name="hospital" id="hospital" class="form-control" required>
                              <option value="">Seleccione un hospital</option>
                              <option *ngFor="let hospital of hospitales" value="{{ hospital._id }}">
                                {{ hospital.nombre }}
                              </option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
                        <a [routerLink]="['/medicos']" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body">
            <img *ngIf="hospital" [src]="hospital.img | imagen:'hospital'" alt="" class="img img-fluid">
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body">
            <img (click)="cambiarImagen()" *ngIf="medico._id" [src]="medico.img | imagen:'medico'" alt="" class="img img-fluid pointer">
        </div>
    </div>

</div>