<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Usuarios</h3>
                </div>
                <table class="table table-hover" *ngIf="usuarios.length > 0">
                    <tr class="pointer" [routerLink]="['/usuarios']" *ngFor="let usuario of usuarios">
                        <td><img [src]="usuario.img | imagen" alt="" class="img img-50"></td>
                        <td>{{ usuario.nombre }}</td>
                    </tr>
                </table>

                <div class="alert alert-info" align="center" *ngIf="usuarios.length === 0">
                    No hay registros
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Medicos</h3>
                </div>
                <table class="table table-hover" *ngIf="medicos.length > 0">
                    <tr class="pointer" [routerLink]="['/medico', medico._id]" *ngFor="let medico of medicos">
                        <td><img [src]="medico.img | imagen:'medico'" alt="" class="img img-50 img-circle"></td>
                        <td>{{ medico.nombre }}</td>
                    </tr>
                </table>

                <div class="alert alert-info" align="center" *ngIf="medicos.length === 0">
                    No hay registros
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Hospitales</h3>
                </div>
                <table class="table table-hover" *ngIf="hospitales.length > 0">
                    <tr class="pointer" [routerLink]="['/hospitales']" *ngFor="let hospital of hospitales">
                        <td><img [src]="hospital.img | imagen:'hospital'" alt="" class="img img-50"></td>
                        <td>{{ hospital.nombre }}</td>
                    </tr>
                </table>

                <div class="alert alert-info" align="center" *ngIf="hospitales.length === 0">
                    No hay registros
                </div>
            </div>
        </div>
    </div>
</div>